@import "@material/button/mdc-button";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/card/mdc-card";

.foo-button {
    @include mdc-button-ink-color(#14c7ba);
    @include mdc-states(teal);
}

html {
    background-color: #fcfcfc;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #00000099;
}


#menuopenicon {}


.mdc-drawer {
    padding-top: 128px;
}

.studentcard {
    margin: auto;
    height: 350px;
    width: 350px;
}

body {
    display: flex;
    height: 100vh;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
}

.main-content {
    overflow: auto;
    height: 100%;
}

.app-bar {
    position: absolute;
}

.studentprofileimage {
    border-radius: 50%;
    height: 350px;

}
